body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1941px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u288 {
  position:absolute;
  left:302px;
  top:59px;
  width:185px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u289 {
  position:absolute;
  left:2px;
  top:16px;
  width:181px;
  word-wrap:break-word;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u290 {
  position:absolute;
  left:969px;
  top:59px;
  width:185px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u291 {
  position:absolute;
  left:2px;
  top:16px;
  width:181px;
  word-wrap:break-word;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u292 {
  position:absolute;
  left:248px;
  top:326px;
  width:120px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u293 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:395px;
  top:110px;
  width:0px;
  height:0px;
}
#u294_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u294_seg1 {
  position:absolute;
  left:-91px;
  top:72px;
  width:95px;
  height:8px;
}
#u294_seg2 {
  position:absolute;
  left:-91px;
  top:72px;
  width:8px;
  height:144px;
}
#u294_seg3 {
  position:absolute;
  left:-97px;
  top:203px;
  width:20px;
  height:20px;
}
#u295 {
  position:absolute;
  left:-126px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u296 {
  position:absolute;
  left:245px;
  top:493px;
  width:126px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u297 {
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  word-wrap:break-word;
}
#u298 {
  position:absolute;
  left:308px;
  top:352px;
  width:0px;
  height:0px;
}
#u298_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:145px;
}
#u298_seg1 {
  position:absolute;
  left:-10px;
  top:128px;
  width:20px;
  height:20px;
}
#u299 {
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u300 {
  position:absolute;
  left:409px;
  top:326px;
  width:120px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u301 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u302 {
  position:absolute;
  left:395px;
  top:110px;
  width:0px;
  height:0px;
}
#u302_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u302_seg1 {
  position:absolute;
  left:-4px;
  top:73px;
  width:82px;
  height:8px;
}
#u302_seg2 {
  position:absolute;
  left:70px;
  top:73px;
  width:8px;
  height:143px;
}
#u302_seg3 {
  position:absolute;
  left:64px;
  top:203px;
  width:20px;
  height:20px;
}
#u303 {
  position:absolute;
  left:18px;
  top:69px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u304 {
  position:absolute;
  left:409px;
  top:493px;
  width:142px;
  height:155px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u305 {
  position:absolute;
  left:2px;
  top:2px;
  width:138px;
  word-wrap:break-word;
}
#u306 {
  position:absolute;
  left:469px;
  top:352px;
  width:0px;
  height:0px;
}
#u306_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:132px;
}
#u306_seg1 {
  position:absolute;
  left:-4px;
  top:124px;
  width:19px;
  height:8px;
}
#u306_seg2 {
  position:absolute;
  left:7px;
  top:124px;
  width:8px;
  height:17px;
}
#u306_seg3 {
  position:absolute;
  left:1px;
  top:128px;
  width:20px;
  height:20px;
}
#u307 {
  position:absolute;
  left:-50px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u308 {
  position:absolute;
  left:561px;
  top:326px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u309 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u310 {
  position:absolute;
  left:689px;
  top:326px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u311 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u312 {
  position:absolute;
  left:395px;
  top:110px;
  width:0px;
  height:0px;
}
#u312_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u312_seg1 {
  position:absolute;
  left:-4px;
  top:73px;
  width:221px;
  height:8px;
}
#u312_seg2 {
  position:absolute;
  left:209px;
  top:73px;
  width:8px;
  height:143px;
}
#u312_seg3 {
  position:absolute;
  left:203px;
  top:203px;
  width:20px;
  height:20px;
}
#u313 {
  position:absolute;
  left:88px;
  top:69px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314 {
  position:absolute;
  left:395px;
  top:110px;
  width:0px;
  height:0px;
}
#u314_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u314_seg1 {
  position:absolute;
  left:-4px;
  top:73px;
  width:349px;
  height:8px;
}
#u314_seg2 {
  position:absolute;
  left:337px;
  top:73px;
  width:8px;
  height:143px;
}
#u314_seg3 {
  position:absolute;
  left:331px;
  top:203px;
  width:20px;
  height:20px;
}
#u315 {
  position:absolute;
  left:152px;
  top:69px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u316 {
  position:absolute;
  left:913px;
  top:319px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u317 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u318 {
  position:absolute;
  left:1611px;
  top:319px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u319 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u320 {
  position:absolute;
  left:1062px;
  top:110px;
  width:0px;
  height:0px;
}
#u320_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u320_seg1 {
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:97px;
}
#u320_seg2 {
  position:absolute;
  left:-106px;
  top:85px;
  width:112px;
  height:8px;
}
#u320_seg3 {
  position:absolute;
  left:-106px;
  top:85px;
  width:8px;
  height:124px;
}
#u320_seg4 {
  position:absolute;
  left:-112px;
  top:196px;
  width:20px;
  height:20px;
}
#u321 {
  position:absolute;
  left:-114px;
  top:81px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322 {
  position:absolute;
  left:1062px;
  top:110px;
  width:0px;
  height:0px;
}
#u322_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u322_seg1 {
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:98px;
}
#u322_seg2 {
  position:absolute;
  left:-2px;
  top:86px;
  width:602px;
  height:8px;
}
#u322_seg3 {
  position:absolute;
  left:592px;
  top:86px;
  width:8px;
  height:127px;
}
#u322_seg4 {
  position:absolute;
  left:592px;
  top:209px;
  width:8px;
  height:4px;
}
#u322_seg5 {
  position:absolute;
  left:586px;
  top:196px;
  width:20px;
  height:20px;
}
#u323 {
  position:absolute;
  left:262px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u324 {
  position:absolute;
  left:913px;
  top:428px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u325 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u326 {
  position:absolute;
  left:1044px;
  top:428px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u327 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u328 {
  position:absolute;
  left:1174px;
  top:428px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u329 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u330 {
  position:absolute;
  left:1298px;
  top:428px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u331 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u332 {
  position:absolute;
  left:960px;
  top:345px;
  width:0px;
  height:0px;
}
#u332_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u332_seg1 {
  position:absolute;
  left:-10px;
  top:70px;
  width:20px;
  height:20px;
}
#u333 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334 {
  position:absolute;
  left:1006px;
  top:332px;
  width:0px;
  height:0px;
}
#u334_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u334_seg1 {
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:100px;
}
#u334_seg2 {
  position:absolute;
  left:75px;
  top:83px;
  width:20px;
  height:20px;
}
#u335 {
  position:absolute;
  left:35px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336 {
  position:absolute;
  left:1006px;
  top:332px;
  width:0px;
  height:0px;
}
#u336_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:219px;
  height:8px;
}
#u336_seg1 {
  position:absolute;
  left:211px;
  top:-4px;
  width:8px;
  height:100px;
}
#u336_seg2 {
  position:absolute;
  left:205px;
  top:83px;
  width:20px;
  height:20px;
}
#u337 {
  position:absolute;
  left:106px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338 {
  position:absolute;
  left:1006px;
  top:332px;
  width:0px;
  height:0px;
}
#u338_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:343px;
  height:8px;
}
#u338_seg1 {
  position:absolute;
  left:335px;
  top:-4px;
  width:8px;
  height:100px;
}
#u338_seg2 {
  position:absolute;
  left:329px;
  top:83px;
  width:20px;
  height:20px;
}
#u339 {
  position:absolute;
  left:168px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u340 {
  position:absolute;
  left:907px;
  top:548px;
  width:105px;
  height:151px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u341 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u342 {
  position:absolute;
  left:960px;
  top:454px;
  width:0px;
  height:0px;
}
#u342_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:98px;
}
#u342_seg1 {
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:20px;
}
#u343 {
  position:absolute;
  left:-50px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u344 {
  position:absolute;
  left:1038px;
  top:548px;
  width:99px;
  height:172px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u345 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u346 {
  position:absolute;
  left:1091px;
  top:454px;
  width:0px;
  height:0px;
}
#u346_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u346_seg1 {
  position:absolute;
  left:-7px;
  top:72px;
  width:11px;
  height:8px;
}
#u346_seg2 {
  position:absolute;
  left:-7px;
  top:72px;
  width:8px;
  height:22px;
}
#u346_seg3 {
  position:absolute;
  left:-13px;
  top:81px;
  width:20px;
  height:20px;
}
#u347 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u348 {
  position:absolute;
  left:1471px;
  top:428px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u349 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u350 {
  position:absolute;
  left:1665px;
  top:428px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u351 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u352 {
  position:absolute;
  left:1848px;
  top:428px;
  width:93px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u353 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u354 {
  position:absolute;
  left:1658px;
  top:345px;
  width:0px;
  height:0px;
}
#u354_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u354_seg1 {
  position:absolute;
  left:-144px;
  top:35px;
  width:148px;
  height:8px;
}
#u354_seg2 {
  position:absolute;
  left:-144px;
  top:35px;
  width:8px;
  height:48px;
}
#u354_seg3 {
  position:absolute;
  left:-150px;
  top:70px;
  width:20px;
  height:20px;
}
#u355 {
  position:absolute;
  left:-122px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356 {
  position:absolute;
  left:1658px;
  top:345px;
  width:0px;
  height:0px;
}
#u356_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u356_seg1 {
  position:absolute;
  left:-4px;
  top:37px;
  width:62px;
  height:8px;
}
#u356_seg2 {
  position:absolute;
  left:50px;
  top:37px;
  width:8px;
  height:46px;
}
#u356_seg3 {
  position:absolute;
  left:44px;
  top:70px;
  width:20px;
  height:20px;
}
#u357 {
  position:absolute;
  left:-22px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358 {
  position:absolute;
  left:1658px;
  top:345px;
  width:0px;
  height:0px;
}
#u358_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u358_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:245px;
  height:8px;
}
#u358_seg2 {
  position:absolute;
  left:233px;
  top:36px;
  width:8px;
  height:47px;
}
#u358_seg3 {
  position:absolute;
  left:227px;
  top:70px;
  width:20px;
  height:20px;
}
#u359 {
  position:absolute;
  left:70px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u360 {
  position:absolute;
  left:1468px;
  top:548px;
  width:96px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u361 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u362 {
  position:absolute;
  left:1518px;
  top:454px;
  width:0px;
  height:0px;
}
#u362_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u362_seg1 {
  position:absolute;
  left:-6px;
  top:72px;
  width:10px;
  height:8px;
}
#u362_seg2 {
  position:absolute;
  left:-6px;
  top:72px;
  width:8px;
  height:22px;
}
#u362_seg3 {
  position:absolute;
  left:-12px;
  top:81px;
  width:20px;
  height:20px;
}
#u363 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:92px;
}
#u365 {
  position:absolute;
  left:500px;
  top:319px;
  width:289px;
  height:92px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 0, 0, 0.298039215686275);
}
#u366 {
  position:absolute;
  left:2px;
  top:18px;
  width:285px;
  word-wrap:break-word;
}
