body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:221px;
}
#u2319 {
  position:absolute;
  left:100px;
  top:100px;
  width:500px;
  height:221px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:102px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2321 {
  position:absolute;
  left:336px;
  top:136px;
  width:29px;
  height:20px;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2323 {
  position:absolute;
  left:161px;
  top:190px;
  width:141px;
  height:20px;
  color:#999999;
}
#u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:2px;
}
#u2325 {
  position:absolute;
  left:100px;
  top:257px;
  width:500px;
  height:1px;
}
#u2326 {
  position:absolute;
  left:2px;
  top:-8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u2327 {
  position:absolute;
  left:341px;
  top:257px;
  width:1px;
  height:64px;
}
#u2328 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2329 {
  position:absolute;
  left:214px;
  top:279px;
  width:29px;
  height:20px;
  color:#666666;
}
#u2330 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2331 {
  position:absolute;
  left:458px;
  top:279px;
  width:29px;
  height:20px;
  color:#666666;
}
#u2332 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2333 {
  position:absolute;
  left:582px;
  top:107px;
  width:10px;
  height:16px;
}
#u2334 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
