body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:221px;
}
#u1290 {
  position:absolute;
  left:100px;
  top:100px;
  width:500px;
  height:221px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:102px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1292 {
  position:absolute;
  left:336px;
  top:136px;
  width:29px;
  height:20px;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1294 {
  position:absolute;
  left:161px;
  top:190px;
  width:113px;
  height:20px;
  color:#999999;
}
#u1295 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:2px;
}
#u1296 {
  position:absolute;
  left:100px;
  top:257px;
  width:500px;
  height:1px;
}
#u1297 {
  position:absolute;
  left:2px;
  top:-8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u1298 {
  position:absolute;
  left:341px;
  top:257px;
  width:1px;
  height:64px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1300 {
  position:absolute;
  left:214px;
  top:279px;
  width:29px;
  height:20px;
  color:#666666;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1302 {
  position:absolute;
  left:458px;
  top:279px;
  width:29px;
  height:20px;
  color:#666666;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1304 {
  position:absolute;
  left:582px;
  top:107px;
  width:10px;
  height:16px;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:221px;
}
#u1306 {
  position:absolute;
  left:650px;
  top:100px;
  width:500px;
  height:221px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:102px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1308 {
  position:absolute;
  left:886px;
  top:136px;
  width:29px;
  height:20px;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1310 {
  position:absolute;
  left:711px;
  top:190px;
  width:239px;
  height:20px;
  color:#999999;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:2px;
}
#u1312 {
  position:absolute;
  left:650px;
  top:257px;
  width:500px;
  height:1px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:-8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1314 {
  position:absolute;
  left:886px;
  top:287px;
  width:29px;
  height:20px;
  color:#666666;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:1132px;
  top:107px;
  width:10px;
  height:16px;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
