body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:221px;
}
#u4804 {
  position:absolute;
  left:100px;
  top:100px;
  width:500px;
  height:221px;
}
#u4805 {
  position:absolute;
  left:2px;
  top:102px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4806 {
  position:absolute;
  left:336px;
  top:136px;
  width:29px;
  height:20px;
}
#u4807 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4808 {
  position:absolute;
  left:133px;
  top:191px;
  width:424px;
  height:20px;
  color:#999999;
}
#u4809 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  white-space:nowrap;
}
#u4810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:2px;
}
#u4810 {
  position:absolute;
  left:100px;
  top:257px;
  width:500px;
  height:1px;
}
#u4811 {
  position:absolute;
  left:2px;
  top:-8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u4812 {
  position:absolute;
  left:341px;
  top:257px;
  width:1px;
  height:64px;
}
#u4813 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4814 {
  position:absolute;
  left:214px;
  top:279px;
  width:29px;
  height:20px;
  color:#666666;
}
#u4815 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4816 {
  position:absolute;
  left:458px;
  top:279px;
  width:29px;
  height:20px;
  color:#666666;
}
#u4817 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4818 {
  position:absolute;
  left:582px;
  top:107px;
  width:10px;
  height:16px;
}
#u4819 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u4820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:221px;
}
#u4820 {
  position:absolute;
  left:100px;
  top:337px;
  width:500px;
  height:221px;
}
#u4821 {
  position:absolute;
  left:2px;
  top:102px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4822 {
  position:absolute;
  left:336px;
  top:373px;
  width:29px;
  height:20px;
}
#u4823 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4824 {
  position:absolute;
  left:133px;
  top:428px;
  width:127px;
  height:20px;
  color:#999999;
}
#u4825 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:2px;
}
#u4826 {
  position:absolute;
  left:100px;
  top:494px;
  width:500px;
  height:1px;
}
#u4827 {
  position:absolute;
  left:2px;
  top:-8px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u4828 {
  position:absolute;
  left:341px;
  top:494px;
  width:1px;
  height:64px;
}
#u4829 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4830 {
  position:absolute;
  left:214px;
  top:516px;
  width:29px;
  height:20px;
  color:#666666;
}
#u4831 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4832 {
  position:absolute;
  left:458px;
  top:516px;
  width:29px;
  height:20px;
  color:#666666;
}
#u4833 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4834 {
  position:absolute;
  left:582px;
  top:344px;
  width:10px;
  height:16px;
}
#u4835 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
